.action-panel {
  display: flex;
  flex-grow: 1;
  align-content: flex-end;
  flex-wrap: wrap;
}

.wrapper-game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: relative;
}

.col {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  background: white;
  font-size: 20px;
  text-align: left;
  color: $color-basic;
  box-shadow: 0 0 15px $color-shadow;
  border-top-right-radius: 5px;
  width: 190px;
  &:nth-child(2) {
    margin-left: auto;
    border-top-left-radius: 5px;
  }
  p {
    flex-basis: 100%;
    &:first-child {
      font-size: 14px;
    }
  }
  &--hidden {
    display: none;
  }
}
