.btn {
  display: block;
  max-width: 280px;
  padding: 15px;
  margin: 30px auto 0;
  background-color: $color-secondary;
  color: $color-basic;
  font-size: 20px;
  font-family: Roboto;
  text-transform: uppercase;
  font-weight: 700;
  border: 8px solid $color-accent;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $color-accent;
  }
}

.submit-track {
  margin-top: auto;
  flex-basis: 100%;
  padding: 20px;
  background: gray;
  color: white;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
