.icon {
  display: block;
  width: 100px;
  margin: auto;
  @include tablet {
    width: 200px;
  }
  @include desktop {
    width: 300px;
  }
}

.icon-right{
  display: block;
  width: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
}