.icon {
  display: block;
  width: 100px;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 5vh;
  @include tablet {
    width: 200px;
  }
  @include desktop {
    width: 300px;
  }
}

.icon-right{
  display: block;
  width: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.icon-left{
  display: block;
  width: 30px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.arrow-icon {
  width: 16px;
  margin-left: 10px;
}