<div class="wrapper animated delay-4">
    <!--<button class="btn come-back">come back!</button>-->
    <div>
        <img src="../assets/info-icon.svg" class="icon-right" />
    </div>
    <div>
        <p>Choose next place to visit</p>
    </div>
    <!-- wrapper for Earth model-->
    <div>
    </div>
    <div class="col-wrapper">
        <div class="col-half">
            <!-- Get place from backend /chosen from Earth model -->
            <p>POLAND</p>
            <p>RADOM</p>
        </div>
        <div class="col-half">
            <p>3 000 PLN</p>
        </div>
    </div>
</div>