<div class="animated delay-4 wrapper-game">
    <img src="../assets/info-icon.svg" class="icon-right" />
    <button class="profile classic-btn">Profile</button>
    <p class="title">Choose next<br>place to visit</p>
    <div class="action-panel">
        <div class="col col--hidden">
            <p id="id_country"></p>
            <p id="id_city"></p>
        </div>
        <div class="col col--hidden">
            <p><span id="id_price"></span><span> PLN</span></p>
        </div>
        <button class="submit-track col--hidden">Submit</button>    
    </div>
</div>