<div class="wrapper animated delay-4">
    <!--<button class="btn come-back">come back!</button>-->
    <div>
        <img src="../assets/info-icon.svg" class="icon-right" />
    </div>
        <p>Choose next place to visit</p>
    <!-- wrapper for Earth model-->
    <div>
    </div>
    <button class="submit-track">Submit track</button>
    <div class="col-wrapper">
            <div class="col-half">
                <h3>Chosen localization:</h3>
                <br>
                <!-- Get place chosen from Earth model -->
                <p id="id_country"></p>
                <p id="id_city"></p>
            </div>
            <div class="col-half">
                <h3>Prize you may win:</h3>
                <br>
                <p><span id="id_price"></span><span> PLN</span></p>
            </div>
        </div>
</div>